<div
  class="pv5 pv6-l ph3 bg-center cover"
  style="background-image: url('{{.imageUrl}}')"
>
  <div class="mw7 center ph3">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <!-- <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary pl1 pr1"> -->
        <h1 class="f2 f1-l b di lh-title mb3 primary mw6 pl1 pr1 tsb">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary pl1 pr1 tsb">
        {{ if .subtitle }}
        <!-- <p class="b f4 di lh-title mb3 white mw6 bg-primary pl1 pr1"> -->
        <p class="b f4 di lh-title mb3 primary mw6 pl1 pr1 tsb">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
