<body>
  <nav
    class="navbar overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative pr2"
  >
    <!-- Logo -->
    <a href="/" class="pa3 pb2 pt2 db mr4 h-100 w3ish flex-none">
      <img src="/img/buna-logo.png" alt="buna logo" class="br0 db mb0 w-100" />
    </a>

    <!-- Primary Nav -->
    <div>
      <a onclick="openDropdown()" class="menu-btn" id="menu-toggle">
        &#9776;
      </a>
    </div>
    <ul class="active flex b grey-3">
      <li><a href="/products" class="pa3 no-underline db">Products</a></li>

      <li><a href="/values" class="pa3 no-underline db">Values</a></li>

      <li><a href="/post" class="pa3 no-underline db">Blog</a></li>

      <li><a href="/contact" class="pa3 no-underline db">Contact</a></li>

      <li class="">
        <a href="#" class="pa3 no-underline db obtn">Order</a>
      </li>
    </ul>
  </nav>
  <div class="dropdown z-999">
    <a class="btn-close" onclick="closeDropdown()">&times;</a>
    <a href="/products">Products</a>
    <a href="/values">Values</a>
    <a href="/post">Blog</a>
    <a href="/contact">Contact</a>
    <a href="#" class="order">Order</a>
  </div>
  <!-- <div id="main"><h1>responsive side menu</h1></div> -->
  <!-- jQuery -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

  <!-- Custom Script -->
  <!-- <script src="../../../src/js/scripts.js"></script>  // <<<< disregard*...used the script below instead -->

  <script>
    function openDropdown() {
      document.getElementsByClassName("dropdown")[0].style.width = "100%";
      // document.getElementsByClassName("navbar")[0].style.overflowY = "hidden";
      // document.getElementsByClassName("dropdown")[0].style.overflowY = "hidden";
    }
    function closeDropdown() {
      document.getElementsByClassName("dropdown")[0].style.width = "0px";
      // document.getElementsByClassName("dropdown")[0].style.overflowY = "";
    }
  </script>
</body>
